body {
    background-color: #20253c;
    font-family: 'Source Sans Pro', sans-serif;
}

#game  {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
}

#gameOptions {
    position: absolute;
    transform: translate(-50%, -50%);
}

#startButton, #difficulty {
    z-index: 3;
    background: none;
    font-size: 30px;
    padding: 20px;
    color: white;
    border: solid white 5px;
    border-radius: 40px;
    margin: 20px;
}

#difficulty option {
    color: black;
}

#stopwatch {
    position: absolute;
    top: 0px;
    width: calc(100vw - 8px);
    text-align: center;
    font-size: 50px;
    color: #2e6fe7;
}

#stats {
    position: absolute;
    bottom: 12px;
    right: 12px;
    text-align: right;
    font-size: 20px;
    color: white;
    border: solid white;
    border-radius: 16px;
    padding: 16px;
    background-color: #2d365e;
}

.how-to-play {
    max-width: 460px;
}

.how-to-play h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.how-to-play p {
    color: white;
    font-size: 20px;
    text-align: center;
}

/* PLAYER */

.enemy {
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
}

.player {
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%); 
}

.highScore .username, .highScore .value {
    font-weight: bold;
    margin-left: 6px;
}

.difficultyName {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotateRight {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes fadeAway {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}