<html>
    <head>
        <script>
            var csrftoken = "{% csrf_token %}";
        </script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        
        {{ difficulties|json_script:"difficulties" }}
        {{ highest_scores|json_script:"highestScores" }}
        
        <link href="/static/css/main.css" rel="stylesheet">
        <script defer src="/static/js/index.js" type="module"></script>
        <title>Square-teroids</title>
    </head>
    <body>
        
        <div id="gameOptions"  style="visibility: hidden">
            <button id="startButton">Start Game</button>
            <select id="difficulty">
                {% for diff in difficulties %}
                    {% with name=diff.name %}
                        {{name}}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endwith %}
                {% endfor %}
            </select>

            <div class="how-to-play">
                <h1>Squareteroids</h1>
                <p>
                    Use your mouse to move the square and avoid the aster... I mean
                    squareteroids. Get to the highest time to get the high score!

                    Increases in difficulty increase the speed of enemies as well as 
                    their spawn rate.

                    If on mobile, tap to teleport!
                </p>
            </div>
        </div>

        <div id="stopwatch"></div>
        <div id="stats">
            <div id="highScore">
                <div class="difficultyName"></div>
                <span class="info">High Score: </span>
                <span class="username"></span>
                <span class="value"></span>
            </div>
            <div id="enemySpeed">
                <span class="info">Enemy Speed:</span>
                <span class="value"></span>
            </div>
            <div id="spawnFactor">
                <span class="info">Enemy Spawn Factor:</span>
                <span class="value"></span>
            </div>
        </div>
    </body>
</html>